# SQLite Database file
*.db

#Dataset
*.csv

# Python bytecode files
*.pyc
__pycache__/
*.pyo

# Environment variables file
.env

# IDE and editor files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore GitHub Actions and other CI/CD directories
.github/

# Ignore .DS_Store (macOS system files)
.DS_Store
